ul {
    list-style: none;
 }
 .active {
    background-color: #4CAF50;
    color: white;
 }
 li {
    float: left;
    border-bottom: 1px solid #555;
    display: inline;
 }
 img {
    border: 1px solid #ddd;
    border-radius: 30%;
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 5%;
 }
 h1
 {
    font-family: 'Times New Roman', Times, serif;
 }
.container
 {
    text-align: center;
    border-style: solid;
    background-color: bisque;
    font-size: 25px;
 }
 .container2
{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 10;
    font-size: 25px;
    border-style: solid;
    background-color: orange;
}

 a{
    color:black;
    word-spacing: 25px;
 }
 a:hover
 {
    color: tomato;
 }
 img#Imageme
 {
    width: 250px;
    border-radius: 10px;
    display: block;
    margin: auto;
 }
 p#paragraph::first-letter
 {
    font-size: 200px;
    font-family: fantasy;
 }
.contact
{
   text-align: center;
   background-color: rgb(224, 115, 64);
   padding: 10px;
   border-style: solid;
   border-width: 2px;
   border-radius: 15px;
}
.bodyp
{
   color: black;
   ;
}
input#submit:focus
{
   color: orange;
}
input#username:focus
{
   color: orange;
}
input#email:focus
{
   color: orange;
}
input#bio:focus
{
   color: orange;
}
input#username
{
   margin: auto;
   padding: 5px;
}
input#email
{
   margin: auto;
   padding: 5px;
}
input#bio
{
   margin: auto;
   padding: 5px;
}
input#submit
{
   margin: auto;
   padding: 5px;
}
.social-media{
   font-size: 30px;
   color: orange;
}
.bodyp
{
   background-color: palegoldenrod;
}
.bodyc{
   background-color: peachpuff;
}
